// replicated table

.card-style {
  width: 100%;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-color: #fff !important;
  height: 25% !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  // box shaddow on hover
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px;
  }
}

.top-text {
  margin-left: 0;
  padding-top: 2rem;
  // padding-top: 100vh !important;
  margin-top: 0.125rem;
}

.btn-c2 {
  font-weight: 700;
  font-size: 0.875rem;
  background: #ffb81c;
  border-radius: 0.25rem;
  color: #232122;
  width: 30%;
  height: 70%;
}
.kwh {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #28519e;
  padding-left: 0rem !important;
}

table img {
  width: 100%;
  border: none;
  background-color: #f9f9f9;
}

.text-puct {
  font-size: 0.75rem;
  font-weight: 400;
  color: #232122;
  margin-bottom: 0;
  padding: 1rem 0 0 0;
}
.text-providerName {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0 0 0 0;
  line-height: 1px;
}
.text-description {
  padding-top: 0.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
// .upper-col {
//   margin: 0%;
//   padding: 0%;
// }
.row-component {
  line-height: 60%;
  border-right: 1px;
}
.row-component-h {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.7rem;
}
.row-component-b {
  font-size: 0.875rem;
  font-weight: 500;
}

.divider {
  height: 3.75rem;
  width: 0.5px;
  margin: 1% 0;
  background: #efe9e9;
}

.test {
  background-color: #f9f9f9;
  margin: 0rem;
}

.icon {
  height: 1.4625rem;
  width: auto !important;
  background-color: transparent !important;
  display: inline-flex;
  margin-right: 10px;
}

//Khushal's styling

.accordion-button::after{
  content: none;
}
.click{
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #28519E;
  width: fit-content;
}
.arrow{
  margin-left: 0.625rem;
}
.perks{
  display: flex;
  margin-left: 1rem;
}
.perks-info{
  display: flex;
  background-color: #f9f9f9;
  padding: 0.5rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  p{
    margin-bottom: 0%;
  }
}
.downloadable-files{
  display: flex;
  margin-left: 1rem;
}
.file{
  display: flex;
}
.info{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.text{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #002c3f;
}
.line1{
  background-color: #f9f9f9;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  display: flex;
  p{
    margin: 8px 0 8px 8px;
  }
}
.line2{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  margin-top: 1rem;
  p{
    margin: 8px 0 8px 16px;  
  }
}
.line-3{
  margin-top: 0.5rem;
  .info{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin: 16px 0 16px 40px;
  } 
}
.line-4{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  p{
    margin: 8px 0 8px 16px;
    color: #232122;  
  }
}
.line-5{
  margin-top: 0.5rem;
}
.newFile{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border: 1px solid #002C3F;
  border-radius: 4px;
  p{
    margin: 0 10px;
  }
  img{
    background-color: #ffffff;
  }
}