<div class="container-fluid">
  <div class="row top-bar">
    <div class="filters">
      <div class="tick-box">
        <div class="form-check form-check-inline options">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1">
            <div class="content">
              <div class="icon">
                <img src="../../../assets/icons/Vectorlock_icon.svg" alt="" />
              </div>
              <div class="text">
                <p>Locked Rate</p>
              </div>
            </div>
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            value="option2"
          />
          <label class="form-check-label" for="inlineCheckbox2">
            <div class="content">
              <div class="icon">
                <img src="../../../assets/icons/credit-card.svg" alt="" />
              </div>
              <div class="text">
                <p>Poor Credit Score</p>
              </div>
            </div>
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox3"
            value="option3"
          />
          <label class="form-check-label" for="inlineCheckbox3">
            <div class="content">
              <div class="icon">
                <img src="../../../assets/icons/Vectorgreen_leaf.svg" alt="" />
              </div>
              <div class="text">
                <p>100% Green Energy</p>
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="sort">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort By: Most Popular
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Most Popular</a></li>
            <li><a class="dropdown-item" href="#">Price: Low To High</a></li>
            <li><a class="dropdown-item" href="#">Price: High To Low</a></li>
            <li><a class="dropdown-item" href="#">Newest Plans</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
